<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>NoteDetail</title>
    <script th:src="@{/js/jquery-3.6.1.min.js}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script>
        $(document).ready(function () {
            $("#left_cate").affix({
                offset: {
                    top: -20,
                    bottom: function () {
                        return (this.bottom = $('.bottom').outerHeight(true));
                    }

                }
            });
        });

    </script>
    <script>
        // 判断是否填写上传人并已选择上传文件
        function check() {
            var result = confirm("您确定要删除笔记吗?")
            return result;
        }
    </script>
    <script>
        // 判断是否填写上传人并已选择上传文件
        function checkSearch() {
            var search = document.getElementById("noteName").value;
            if (search == "") {
                alert("请先输入搜索内容哦!");
                return false;
            }
            return true;
        }
    </script>
</head>
<style>
    ul {
        top: 0px; /* Set the top position of pinned element */
        right: 0px;
        list-style: none;
    }

    #left_cate li {
        float: left;
    }
</style>
<style>
    em {
        background-color: #ff8c31;
        border-radius: 30px;
        margin-left: 50px;
        font-size: 20px;
    }

    #note {
        margin-left: 40px;
        margin-top: 34px;
        margin-bottom: 34px;
        border-radius: 30px;
        background-color: #4b5cc4;
    }

    #pic {
        border-radius: 30px;
    }

</style>
<body>

<br/>
<h2>
    &nbsp;&nbsp;&nbsp;<strong th:text="${session.USER_SESSION.user_name}"
                              th:if="${session.USER_SESSION.user_name!=null}"> </strong>&nbsp;您好,
    <small>您正在查看的笔记是:</small><small th:text="${noteDetail.note_name}"></small>
</h2>
<br/>
<div style="background-color: #ced4da;border-radius: 25px;margin-top: -25px;" class="hero-unit">
    <h1 style="font-size: xxx-large">
        <br/>
        &nbsp;&nbsp;&nbsp;<strong>笔记详情</strong>
        <br/>&nbsp;&nbsp;&nbsp;<small>Check NoteDetail</small>
        <br/>
    </h1>
    <h3 style="font-size: large">
        <em>NoteShare</em>
    </h3>
    <br/>
    <br/>
</div>


<div>
    <div style="background-color: #afdd22;border-radius: 25px;margin-bottom: -10px;margin-top: -13px">
        <div style="margin-left: 40px">
            <br/>
            <h2 style="margin-top: 8px;font-style: oblique" th:text="'笔记名称：'+${noteDetail.note_name}"></h2>
            <span style="display: flex;margin-top: 8px;font-style: oblique;">
            <a style="text-decoration:none;color: #0f0f0f;margin-top: 8px;font-style: oblique;font-size: large"
               th:text="'笔记上传者：'+${noteDetail.upload_user}+'('+${noteDetail.user_email}+')'"></a>
            <a href="#payModal" data-toggle="modal">给他留言</a>
            </span>
            <h4 style="margin-top: 8px;font-style: oblique" th:text="'上传时间：'+${noteDetail.upload_date}"></h4>
            <h4 style="margin-top: 8px;font-style: oblique" th:text="'笔记编码：'+${noteDetail.upload_code}"></h4>
        </div>
        <br/>
    </div>


    <div style="background-color: #4b5cc4;
        border-radius: 30px;" class="col-md-12">
        <div id="note" class="container-fluid">
            <div class="row center-block"></div>
            <div class="center-block">
                <img loading="lazy" class="center-block" id="pic" alt="暂无图片"
                     th:src="@{${noteDetail.pic_path}}"/>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="payModal" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel">
    <form role="form" th:action="@{notePay.action}" method="post" target="_blank">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" aria-hidden="true" type="button"
                            data-dismiss="modal">×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">用户赞助</h4>
                </div>
                <div class="modal-body">
                    <label th:text="'该用户的联系方式:'+${noteDetail.user_email}"></label>
                    <div class="form-group">
                        <label for="price">赞助金额</label>
                        <input name="price" type="number" step="1" min="0" max="10" class="form-control" id="price"/>
                    </div>
                    <div class="form-group">
                        <label for="word">留言</label><input name="word" type="text" class="form-control" id="word"/>
                    </div>
                    <input name="note_id" class="form-control" type="hidden" th:value="${noteDetail.note_id}"/>
                    <input name="user_id" class="form-control" type="hidden" th:value="${noteDetail.user_id}"/>
                    <input name="note_code" class="form-control" type="hidden" th:value="${noteDetail.upload_code}"/>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary">
                    <button class="btn btn-default" type="button"
                            data-dismiss="modal">关闭
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="row" style="border:0px solid red">
    <div class="col-sm-1">
        <div class="row">
            <ul class="list-group" id="left_cate">
                <li><a style="background-color: #3b2e7e;color: #ced4da;border-color: #3b2e7e"
                       th:href="@{SubjectAction}"
                       class="list-group-item">Choose</a></li>
                <li><a style="background-color: #fa8c35;border-color: #fa8c35"
                       th:href="@{Choose.action(subjectId=1)}"
                       class="list-group-item">Math</a></li>
                <li><a style="background-color: #fa8c35;border-color: #fa8c35"
                       th:href="@{Choose.action(subjectId=2)}"
                       class="list-group-item">Paint</a></li>
                <li><a style="background-color: #fa8c35;border-color: #fa8c35"
                       th:href="@{Choose.action(subjectId=3)}"
                       class="list-group-item">Code</a></li>
                <li>
                    <form th:action="@{searchNote.action}" method="post" onsubmit="return checkSearch()">
                        <input style="margin-bottom: 20px;height: 42px" type="text" name="noteName" id="noteName">
                        <button style="background-color: #fa8c35;border-color: #fa8c35;text-align: center;border-radius: 5px;margin-top: -20px"
                                type="submit"
                                class="list-group-item">搜索
                        </button>
                    </form>
                <li>
            </ul>
        </div>
    </div>
</div>


    <iframe src="" frameborder="0" name="iframeUpload" style="display: none;"></iframe>
    <script>

        $("iframe[name=iframeUpload]").on("load", function () {
            var responseText = $("iframe")[0].contentDocument.body.getElementsByTagName("pre")[0].innerHTML;
            /*alert(responseText);*/
            $('#msgModal').modal({backdrop: 'static', keyboard: false});
            if(responseText == "true"){
                $("#msgTitle").html("删除成功");
                $("#msgBody").html("您已成功删除笔记");
                $("#msgModal").modal();
            }
            //以下就可以判断并处理返回值
        })

    </script>

    <!--<c:if test="${sessionScope['_LOGIN_USER_'].userId eq noteDetail.dstUserId}">-->
    <form th:action="@{delNote.action}" method="post" onsubmit="return check()" target="iframeUpload">
        <input type="hidden" name="noteCode" th:value="${noteDetail.upload_code}">
        <div class="col-md-5 column">
            <button type="submit" class="btn btn-danger btn-default btn-block" style="border-radius: 30px">删除笔记</button>
        </div>
    </form>
    <div class="col-md-7 column">
        <a class="btn btn-danger btn-default btn-block" style="background-color: #00a381;border-color: #00a381;border-radius: 30px" th:href="@{/download(filepath=${noteDetail.pic_path},filename=${noteDetail.note_name})}">下载笔记</a>
    </div>
<!--<c:forEach items="${payDetail}" var="n" varStatus="nt">-->

    <div style="margin-bottom: 1px;margin-top: 36px" th:if="${payDetails}">
        <div class="container-fluid" style="background-color: #ffb636;border-radius: 30px;"
             th:each="payDetail:${payDetails}">
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <h4>
                    用户&nbsp;<strong th:text="${payDetail.src_username}"></strong>&nbsp;在<strong
                        th:text="${payDetail.pay_date}"></strong>赞助了作者
                </h4>
                <br/>
                并留下了一句话:<strong style="font-size: x-large" th:text="${payDetail.word}">${n.word}</strong>
            </div>
        </div>
    </div>



<!-- 删除情况信息提示模态框 -->
<div class="modal fade" id="msgModal" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-hidden="true" type="button" data-dismiss="modal">
                    ×
                </button>
                <h4 class="modal-title" id="msgTitle">

                </h4>
            </div>
            <div class="modal-body" id="msgBody">

            </div>
            <div class="modal-footer">
                <a class="btn btn-default" th:href="@{Choose.action(subjectId=${SubjectId})}">关闭窗口</a>
            </div>
        </div>

    </div>
</div>
</body>
</html>
